.container-pokemons {
  height: 100vh;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-map {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 1500px;
  height: 700px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #505152;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 500ms linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1559px) {
  .container-pokemons {
    padding: 40px;
  }

  .card-map {
    width: 100%;
  }
}

@media (max-width: 1285px) {
  .container-pokemons {
    align-items: baseline;
    height: auto;
  }

  .card-map {
    flex-direction: column;
    height: 1000px;
    width: 800px;
  }
}

@media (max-width: 889px) {
  .card-map {
    width: 100%;
    overflow: hidden;
  }
}
